.calendarModal {
  display: flex;
  /* border: 1px solid red; */
  /* position: relative; */
  margin: 0 0 0 100px;
}

.calendarModal {
  display: flex;
  background-color: red;
  margin: 0 0 0 100px;
  position: none;
}

.calendarForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  box-shadow: #333333;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #aeaeae;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5cc5a7;
  color: white;
  font-size: 18px;
  height: 35px;
  padding: 2px 10px;
}

.calendarModalButton {
  border: none;
  background: none;
  padding: 0;
}
