.calendarModalButton {
  border: none;
  background: none;
  padding: 0;
  color: #668;
}

.month-year {
  display: table;
  width: 225px;
  margin: 5px 15px 5px 5px;
}

.dow {
  width: 225px;
  display: table;
}

.calendarForm {
  width: 225px;
  height: 325px;
  border: 1px solid #aeaeae;
  box-shadow: #333333;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #aeaeae;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5cc5a7;
  color: white;
  font-size: 18px;
  height: 35px;
  padding: 2px 10px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}

.table-body {
  display: table;
  /* vertical-align: middle; */
  width: 225px;
  height: 150px;
  /* border: 1px solid red; */
}

table {
  display: table;
  /* text-indent: initial; */
  max-width: 100%;
  border-collapse: collapse;
  /* border-spacing: 0; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

tfoot {
  display: table;
  /* border: 1px solid red; */
  border-top: 1px solid #c6c5c5;
  /* text-align: center; */
  padding: 10px;
  margin: 5px 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.repeats {
  display: flex;
  padding: 10px;
}

.reminders {
  display: flex;
}

.options {
  cursor: pointer;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  height: 25px;
  background-color: #f6f6f6;
  text-shadow: rgba(255, 255, 255, .75) 0px 1px 1px;
  color: rgb(51, 51, 51);
  background-color: rgb(236, 236, 236);
  margin-left: 5px;
  padding: 2px 5px; 
}

.day:hover{
  cursor: pointer;
  /* background-color:rgba(218, 218, 218, 0.919); */
  background-color:rgb(238, 238, 238);
  border-radius: 5px;
}

.day:active {
  background-color: #5cc5a7;
}