.body {
  width: 100%;
}

.main {
  /* border: 5px solid red; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://assets.splitwise.com/assets/core/facets.png');
  height: 100%;
  width: 100%;
  z-index: 5;
}

.main::before {
  background-color: rgba(0,0,0,.25);
}

.toggle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sharing-expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  /* border: 5px solid yellow; */
}

.landing-share-list-icons{
  /* border: 1px solid red; */
  display: flex;
  padding-right: 40px;
}

.landing-sharing-options {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28;
  border: 5px solid yellow;
}

.text-swap-list {
  /* list-style: none; */
  border: 1px solid blue;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 10px;
  width: 10rem;
}

.trip-text {
  color: #1CC29F;
  margin-left: 8px;
}

.housemates-text {
  color: rgb(134,87,205);
  margin-left: 8px;
}

.landing-plane-icon {
  height: 50px;
  width: 50px;
  /* margin: 5px; */
  /* opacity: .7; */
}

.landing-plane-icon:hover {
  opacity: 1;
}

.landing-home-icon {
  height: 50px;
  width: 50px;
  /* margin: 5px; */
  /* opacity: .5; */
}

.landing-home-icon:hover {
  opacity: 1
}

.landing-heart-icon {
  /* border: 1px solid red; */
  height: 50px;
  width: 50px;
  /* margin: 5px; */
  /* opacity: 1; */
}

.landing-heart-icon:hover {
  opacity: 1
}

.landing-wild-icon {
  /* border: 1px solid red; */
  height: 50px;
  width: 50px;
  /* margin: 5px; */
  /* opacity: .5; */
}

.landing-wild-icon:hover {
  opacity: 1
}

.lp-large-icons {
  list-style: none;
  display: flex;
  justify-content: center;
}

.partner-text {
  color: #A6042F;
  margin-left: 8px;
}

.anyone-text {
  color: 383B3F;
  margin-left: 8px;
}

.landing-share-options {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-share-list-icons {
  display: flex;
  align-self: center;
  justify-content: center;
  list-style: none;
  width: 500px;
}

.download-app-div {
  display: flex;
  justify-content: center;
}

.landing-app-download {
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1CC29F;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  height: 50px;
  width: 200px;
  color: white;
}

.landing-app-download:hover {
  cursor: pointer;
}

.download-link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.landing-page-keep-track {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.landing-page-free {
  display: flex;
  justify-content: center;
}

.apple {
  height: 15px;
}

.android {
  height: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0px 60px;
  height: 100%;

}

.logo {
  display: flex;
  align-items: center;
}

.active {
  text-decoration: none;
}

.login {
  color : #1CC29F;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.signup {
  background-color: #1CC29F;
  color: white;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.login:hover {
  cursor: pointer;
}

.signup:hover {
  cursor: pointer;
}

.landing-logo {
  height: 50px;
  width: 50px;
}

.landing-logo-text {
  margin-left: 5px;
  color: #373B3F;
  padding-top: 15px;
}

.landing-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid blue; */
}

.landing-nav {
  /* border: 1px solid red; */
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.balance-div {
  background-color:black;
  opacity: .6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-balances {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  opacity: 1;
}

.balance-text-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  height: 5px;
}

.balance-text-description {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 300px;
}

.balance-img {
  padding-top: 15px;
  width: 275px;
}

.organize-expenses-div {
  background-color:#1CC29F;
  opacity: .6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.organize-expenses {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.organize-expenses-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  height: 5px;
}

.organize-expenses-description {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 300px;
}

.organize-image {
  padding-top: 15px;
  width: 275px;
}

.add-expenses-div {
  background-color:#EF7242;
  opacity: .6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expenses {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.add-expenses-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  height: 5px;
}

.add-expenses-description {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 300px;
}

.add-expenses-image {
  padding-top: 15px;
  width: 275px;
}

.pay-expenses-div {
  background-color:#393D41;
  opacity: .6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-expenses {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.pay-expenses-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  height: 5px;
}

.pay-expenses-description {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 300px;
}

.pay-image {
  padding-top: 15px;
  width: 275px;
}

.pro-expenses-div {
  background-color:#8A5DCD;
  opacity: .6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-expenses {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.pro-expenses-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  width: 300px;
  height: 5px;
}

.pro-expenses-description {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 400px;
}

.pro-image {
  padding-top: 15px;
  width: 275px;
}

.nine-yards-img {
  display: block;
  text-align: center;
  width: 100%;
}

.footer-image {
  width: 100%;
}

.review-grid {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.review-div {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px #373B3F;
  padding: 20px;
}

.review {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.review-source-div {
  display: flex;
}

.review-source-img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  margin-top: 15px;
}

.review-source {
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

.footer-splitwise {
  color: #1CC29F;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-account {
  color: #f67240;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-more {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.download-button-div {
  display: flex;
  justify-content: center;
}

.appStore-img {
  height: 40px;
  margin: 5px;
}

.landing-tab {
  position: relative;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  background-color: rgba(255,255,255,.1);
}

.active-landing-tabs::before {
  content: '';
  display: block;
  position: absolute;
  transition-duration: 2s; 
}

.landing-tab:focus {
  opacity: 5;
  z-index: 100
}

.landing-tab:not(:focus) {
  opacity: .5;
}

.landing-content {
  display: none;
}

.active-landing-content {
  display: block;
  transition-duration: 5s;
}

.signup-green {
  background-color: #1CC29F;
  color: white;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.signup-purple {
  background-color: rgb(134,87,205);
  color: white;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.signup-red {
  background-color: #A6042F;
  color: white;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.signup-gray {
  background-color: #383B3F;
  color: white;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.footer-signup,
.footer-login
{
  text-decoration: none;
  color: #373B3F;
}