.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.signup-index:hover {
  cursor: pointer;
}

.introduce-text {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 15px 20px;
}

.signup-username-input {
  height: 40px;
  width: 300px;
  margin: 5px 20px;
}

.signup-username-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-firstname-input {
  height: 40px;
  width: 300px;
  margin: 5px 20px;
}

.signup-firstname-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-lastname-input {
  height: 40px;
  width: 300px;
  margin: 5px 20px;
}

.signup-lastname-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}
.signup-number-input {
  height: 40px;
  width: 300px;
  margin: 5px 20px;
}

.signup-number-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}
.signup-repeatpassword-input {
  height: 40px;
  width: 300px;
  margin: 5px 20px;
}

.signup-repeatpassword-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-email-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 20px;
}

.signup-email-input {
  height: 40px;
  width: 300px;
  margin: 5px 0;
}

.signup-email {
  margin: 0 0 0 3px;
}

.signup-email-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-username-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 20px;
}

.signup-firstname-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 20px;
}

.signup-lastname-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 20px;
}

.signup-number-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 20px;
}


.signup-password-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 20px;
}

.signup-repeatpassword-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 20px;
}

.signup-password-input {
  height: 40px;
  width: 300px;
  margin: 5px 0;
}
.signup-repeatpassword-input {
  height: 40px;
  width: 300px;
  margin: 5px 0;
}

.signup-password {
  margin: 0 0 0 3px;
}

.signup-password-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-repeatpassword {
  margin: 0 0 0 3px;
}

.signup-repeatpassword-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px #0088CC, -.5px 0 1px #0088CC;
}

.signup-submit-button {
  background-color: #FF652F;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: inline-block;
  width: auto;
  height: 50px;
  padding: 11px 15px;
  margin: 15px 20px;
}

.signup-tos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #0088CC;
  margin: 10px 20px;
}