.dash-navbar {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  width: 100%;
  background-color:#1CC29F;
  margin: 0 0;
}

.dash-logo-div {
  display: flex;
  align-items: center;
  color: white;
}

.dash-logo {
  height: 30px;
  width: 100px;
}

.dash-logo-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 5px;
}

.profile-picture {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px;
}

.profileButton-div {
  display: flex;
  align-items: center;
}

.profileButton-div:hover {
  background-color: rgb(161, 158, 158);
}

.user-name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.column {
  float: left;
}

.dash-left-side {
  width: 24%;
  display: flex;
  flex-direction: column;
}

.dash-groups {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
}

.dash-groups-title {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
}

.dash-friends {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
}

.dash-friends-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
 }

.dashboard-div {
  display: table;
  border: 1px solid yellow;
  width: 100%;
}

.dash-left-side {
  border: 1px solid red;
}

.dash-main {
  border: 1px solid blue;
  width: 50%
}

.dash-main-header {
  background-color:#EEEEEE;
}

.dash-main-header-upper {
  display: flex;
}

.dashboard-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.dash-add-expense-button {
  background-color: #FF652F;
  color: white;
  border: none;
  border-radius: 5px;
}

.dash-settle-up-button {
  background-color: #5BC5A7;
  color: white;
  border: none;
  border-radius: 5px;
}

.dash-main-header-balances {
  display: flex;
  justify-content: space-evenly;
}

.dash-main-body {
  display: flex;
  justify-content: space-evenly;
}

.dash-right-side {
  border: 1px solid red;
  width: 25%;
}

